<body class="is-preload homepage">
  <div id="page-wrapper">

    <form action="/auth/signup" method="post">
      <h1>Sign Up</h1>
      {{#if message}}
      <div class="warning-message">{{message}}</div>
      {{/if}}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="john123" required>
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" name="email" placeholder="john123@email.com" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="***********" required>
        <p class="password-instruction">Ensure your password contains at least one uppercase letter, one lowercase letter, and is a minimum of eight characters in length.</p>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="***********" required>
      </div>
      <button type="submit">Create an account</button>
      <a href="/auth/login" class="button" style="margin-top: 20px;">Existing User</a>
    </form>
  </div>
</body>

<!-- Scripts -->

<script src="assets/js/main.js"></script>