
<body class="is-preload homepage">
    <div id="page-wrapper">

        <!-- Banner -->
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Effortlessly Create Professional Cover Letters</h2>
                        <p>with AI</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/auth/signup" class="button large icon solid fa-arrow-circle-right">Let's Go</a></li>
                            <li><a href="#features-wrapper" class="button alt large icon solid fa-question-circle">More Info</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Heading -->
        <div id="heading-wrapper">
            <div class="container">
                <header>
                    <h1>Revolutionize Your Job Search with These Top 3 Features of an AI Cover Letter Generator</h1>
                </header>
            </div>
        </div>

        <!-- Features -->
        <div id="features-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Personalized Content</h2>
                                    <p></p>
                                </header>
                                <p>The AI cover letter generator uses advanced algorithms to analyze job descriptions and create personalized content based
                                on the requirements of the job. This means that the cover letter is tailored to the specific job and highlights the
                                candidate's relevant skills and experiences.</p>
                            </div>
                        </section>

                    </div>
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Professional Design</h2>
                                    <p></p>
                                </header>
                                <p> A cover letter is the first impression that a candidate makes on a potential employer. The AI cover letter generator
                                creates visually appealing and professional-looking cover letters that can help candidates stand out from the
                                competition.
                                </p>
                            </div>
                        </section>

                    </div>
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Time-saving</h2>
                                    <p></p>
                                </header>
                                <p>Writing a cover letter can be time-consuming and stressful. The AI cover letter generator can save time by automatically
                                generating a professional cover letter in just a few minutes. This allows job seekers to focus on other important
                                aspects of their job search.</p>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-4 col-12-medium">

                        <!-- Sidebar -->
                        <div id="sidebar">
                            <section class="widget thumbnails">
                                <h3>Interesting stuff</h3>
                                <div class="grid">
                                    <div class="row gtr-50">
                                        <div class="col-6"><a href="/auth/signup" class="image fit"><img src="images/pic04.jpg"
                                                    alt="" /></a></div>
                                        <div class="col-6"><a href="/auth/signup" class="image fit"><img src="images/pic05.jpg"
                                                    alt="" /></a></div>
                                        <div class="col-6"><a href="/auth/signup" class="image fit"><img src="images/pic06.png"
                                                    alt="" /></a></div>
                                        <div class="col-6"><a href="/auth/signup" class="image fit"><img src="images/pic07.png"
                                                    alt="" /></a></div>
                                    </div>
                                </div>

                            </section>
                        </div>

                    </div>
                    <div class="col-8 col-12-medium imp-medium">

                        <!-- Content -->
                        <div id="content">
                            <section class="last">
                                <h2>How does it work?</h2>
                                <p>Cover Mate <strong>is a powerful </strong>tool that simplifies the process of writing
                                    a professional and customized cover letter.
                                </p>
                                <p>Using natural language processing and machine learning algorithms, the generator
                                    analyzes the job description and other relevant information provided by the user to
                                    create a unique and tailored cover letter in minutes.</p>
                                <a href="/auth/contact" class="button icon solid fa-arrow-circle-right">Need More Info</a>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Scripts -->

    <script src="/js/index.js"></script>

</body>

</html>