
<body class="is-preload homepage">
    <div id="page-wrapper">

        <!-- Banner -->
        <div id="banner-wrapper">
            <div id="banner" class="box container">
                <div class="row">
                    <div class="col-7 col-12-medium">
                        <h2>Effortlessly Create Professional Cover Letters</h2>
                        <p>with AI</p>
                    </div>
                    <div class="col-5 col-12-medium">
                        <ul>
                            <li><a href="/auth/signup" class="button large icon solid fa-arrow-circle-right">Let's Go</a></li>
                            <li><a href="#features-wrapper" class="button alt large icon solid fa-question-circle">More Info</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Heading -->
        <div id="heading-wrapper">
            <div class="container">
                <header>
                    <h1>Top Features</h1>
                </header>
            </div>
        </div>

        <!-- Features -->
        <div id="features-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Marketing Manager Seeking New Opportunities</h2>
                                    <p></p>
                                </header>
                                <p>This cover letter is tailored for an experienced marketing manager who is looking for
                                    new job opportunities. The cover letter highlights the candidate's achievements and
                                    skills, and demonstrates their suitability for the role they are applying for.</p>
                            </div>
                        </section>

                    </div>
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>College Graduate Looking for Entry-Level Job</h2>
                                    <p></p>
                                </header>
                                <p> This cover letter is designed for a recent college graduate who is looking for an
                                    entry-level job. The cover letter emphasizes the candidate's education, skills, and
                                    enthusiasm, and demonstrates their potential as a valuable addition to the company.
                                </p>
                            </div>
                        </section>

                    </div>
                    <div class="col-4 col-12-medium">

                        <!-- Box -->
                        <section class="box feature">
                            <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                            <div class="inner">
                                <header>
                                    <h2>Software Engineer Seeking Senior-Level Position</h2>
                                    <p></p>
                                </header>
                                <p>This cover letter is intended for a seasoned software engineer who is applying for a
                                    senior-level position. The cover letter highlights the candidate's technical
                                    expertise and experience, and demonstrates their ability to lead and mentor a team
                                    of developers.</p>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>

        <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-4 col-12-medium">

                        <!-- Sidebar -->
                        <div id="sidebar">
                            <section class="widget thumbnails">
                                <h3>Interesting stuff</h3>
                                <div class="grid">
                                    <div class="row gtr-50">
                                        <div class="col-6"><a href="#" class="image fit"><img src="images/pic04.jpg"
                                                    alt="" /></a></div>
                                        <div class="col-6"><a href="#" class="image fit"><img src="images/pic05.jpg"
                                                    alt="" /></a></div>
                                        <div class="col-6"><a href="#" class="image fit"><img src="images/pic06.jpg"
                                                    alt="" /></a></div>
                                        <div class="col-6"><a href="#" class="image fit"><img src="images/pic07.jpg"
                                                    alt="" /></a></div>
                                    </div>
                                </div>

                            </section>
                        </div>

                    </div>
                    <div class="col-8 col-12-medium imp-medium">

                        <!-- Content -->
                        <div id="content">
                            <section class="last">
                                <h2>How does it work?</h2>
                                <p>Cover Mate <strong>is a powerful </strong>tool that simplifies the process of writing
                                    a professional and customized cover letter.
                                </p>
                                <p>Using natural language processing and machine learning algorithms, the generator
                                    analyzes the job description and other relevant information provided by the user to
                                    create a unique and tailored cover letter in minutes.</p>
                                <a href="#" class="button icon solid fa-arrow-circle-right">Continue Reading</a>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Scripts -->

    <script src="/js/index.js"></script>

</body>

</html>